<h1>Add a Definition for <%= @word.word %> </h1>

<ul>
  <% @word.definitions.each() do |definition| %>
  <li><%= definition %></li>
  <% end %>
</ul>

<form action="/newdef/<%= @word.id %>" method="post">
  <label for="definition">New definition</label>
    <input type="text" name="definition">
  <button type="submit">Add a definition!</button>
</form>

<a href='/'>Home</a>
